body{

    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 2em;
    background-color: #ededed;
}

h3{
    color: blueviolet;
    border-bottom: 1px solid #929CA4 ;
   
}

p:first-of-type::first-letter{
    font-size: 30px;
}

.solution::first-line{
    color: #CC1C0D ;
    font-weight: bold;
}

#testimonial1, #testimonial2{
    font-style: italic;
    margin-left: 50px;
}

a[href^="http"]:link{
    color:red;
    text-decoration: underline;
}
a[href^="http"]:visited{
    color:green;
    text-decoration: line-through;
}
a[href^="http"]:hover{
    color:hotpink;
    text-decoration: initial;
}
a[href^="http"]:active{
    color:blue;
    text-decoration: inherit;
}

ul{
    list-style-type: none;
}

ul li:first-of-type{
    color:blue;
}

ul li:last-of-type{
    color:red;
}